{
    "JmxExporter": {
        "Enabled": "${WRAPPERT_JMX_EXPORTER_ENABLED}",
        "Port": "${WRAPPERT_JMX_EXPORTER_PORT}"
    },
    "HeapDumpEnabled": "${WRAPPERT_HEAP_DUMP_ENABLED}",
    "PrintGcEnabled": "${WRAPPERT_PRINT_GC_ENABLED}",
    "Xms": "${WRAPPERT_XMS}",
    "Xmx": "${WRAPPERT_XMX}",
    "Xss": "${WRAPPERT_XSS}",
    "MetaspaceSize": "${WRAPPERT_METASPACE_SIZE}",
    "MaxMetaspaceSize": "${WRAPPERT_MAX_METASPACE_SIZE}",
    "RemoteDebug": {
        "Enabled": "${WRAPPERT_REMOTE_DEBUG_ENABLED}",
        "Suspend": "${WRAPPERT_REMOTE_DEBUG_SUSPEND}",
        "Port": "${WRAPPERT_REMOTE_DEBUG_PORT}"
    },
    "JmxRemote": {
        "Enabled": "${WRAPPERT_JMX_REMOTE_ENABLED}",
        "Ssl": "${WRAPPERT_JMX_REMOTE_SSL}",
        "Auth": "${WRAPPERT_JMX_REMOTE_AUTH}",
        "RmiServerHostname": "${WRAPPERT_JMX_REMOTE_RMI_SERVER_HOSTNAME}",
        "RmiRegistryPort": "${WRAPPERT_JMX_REMOTE_RMI_REGISTRY_PORT}",
        "RmiServerPort": "${WRAPPERT_JMX_REMOTE_RMI_SERVER_PORT}"
    },
    "HttpListenPort": "${WRAPPERT_HTTP_LISTEN_PORT}",
    "ShutdownPort": "${WRAPPERT_SHUTDOWN_PORT}",
    "OtherParameters": [
        ${WRAPPERT_OTHER_PARAMETERS}
    ]
}